<link rel="stylesheet" href="/stylesheets/about.css">

<div id="about">
     <div class="headings">
        <p>Get To Know</p>
        <h3>About Me</h3>
     </div>
     <div class="about-me">
        <img src="https://tangerine-hummingbird-1479b6.netlify.app/assets/about-pic.png" alt="">
        <div class="l-about">
            <div class="cards">
                <div class="card">
                    <i class="ri-group-line"></i>
                    <h4>Education</h4>
                    <p>B.tech Computer Science Engineering</p>
                </div>
                <div class="card">
                    <i class="ri-folder-zip-line"></i>
                    <h4>Projects</h4>
                    <p>3+ Completed and Counting</p>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed natus doloremque totam nihil, maxime veniam laudantium maiores exercitationem quas asperiores? Autem.</p>
        </div>
     </div>
</div>