<link rel="stylesheet" href="/stylesheets/about.css">

<div id="about">
     <div class="headings">
        <p>Get To Know</p>
        <h3>About Me</h3>
     </div>
     <div class="about-me">
        <img src="/images/about.jpg" alt="">
        <div class="l-about">
            <div class="cards">
                <div class="card">
                    <i class="ri-group-line"></i>
                    <h4>Education</h4>
                    <p>B.tech Computer Science Engineering</p>
                </div>
                <div class="card">
                    <i class="ri-folder-zip-line"></i>
                    <h4>Projects</h4>
                    <p>3+ Completed and Counting</p>
                </div>
            </div>
            <p> Hi👋, My name is <span>Golam Masud</span> and I am from Kaliachak, Malda, West Bengal (India).
                Completed my graduation in <span>Bachelor of Technology(CSE)</span>
                from Rajiv Gandhi Proudyogiki Vishwavidyalaya,
                Bhopal (MP) in 2023. Then I joined Sheryians Coding School, which offers a 40-week
                full-time course on the <span>Full Stack Web Development</span>. At Sheryians Coding School, I
                get hands-on experience in learning
                frontend and backend technologies.</p>
        </div>
     </div>
</div>