<link rel="stylesheet" href="/stylesheets/contact.css">

<div id="contact">
    <div class="headeings">
        <p>Get in Touch</p>
        <h1>Contact Me</h1>
    </div>
    <div class="links">
        <a target="_blank" href="mailto:imgolammasud@gmail.com"><i class="ri-mail-fill"></i> <span>imgolammasud@gmail.com</span></a>
        <a target="_blank" href="https://www.linkedin.com/in/golam-masud-409459239/"><i class="ri-linkedin-box-fill"></i> <span>LinkedIn</span></a>
    </div>
    <form action="/portfolio/save" method="post">
        <input class="form-control" type="text" required placeholder="Your Full Name" name="name">
        <!-- <br> -->
        <input class="form-control" type="email" required placeholder="Your Email" name="email">
        <!-- <br> -->
        <input type="number" placeholder="Your Whatsapp Number (Optional)" class="form-control" name="number">
        <!-- <br> -->
        <textarea required class="form-control" name="message" placeholder="Your Message" id="" cols="30" rows="10"></textarea>
        <!-- <br> -->
        <button class="btn btn-outline-secondary">Send Message</button>
    </form>
</div>