<link rel="stylesheet" href="/stylesheets/experience.css">

<div id="experience">
    <div class="headings">
        <p>The skills I have</p>
        <h3>My experience</h3>
    </div>
    <div class="Developments">
        <div class="Development">
            <h3>Frontend Development</h3>
            <div class="skills">
                <div class="col">
                    <div class="skill">
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>
                            HTML <br>
                             <span>Intermediate</span>
                        </p>
                    </div> 
                    <div class="skill">
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>
                            JavaScript <br>
                             <span>Intermediate</span>
                        </p>
                    </div>   
                                      
                </div>
                <div class="col">
                    <div class="skill">
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>
                            CSS <br>
                             <span>Experienced</span>
                        </p>
                    </div> 
                    <div class="skill">
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>
                            React <br>
                             <span>Intermediate</span>
                        </p>
                    </div>           
                </div>
            </div>
            <div class="libray">
                <div class="skill">
                    <i class="ri-checkbox-circle-fill"></i>
                    <p>
                        Bootstrap <br>
                         <span>Basic</span>
                    </p>
                </div>   
            </div>
        </div>
        <div class="Development">
            <h3>Backend Development</h3>
            <div class="skills">
                <div class="col">
                    <div class="skill">
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>
                            Node JS <br>
                             <span>Intermediate</span>
                        </p>
                    </div> 
                    <div class="skill">
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>
                            Mongo DB <br>
                             <span>Basic</span>
                        </p>
                    </div>   
                                      
                </div>
                <div class="col">
                    <div class="skill">
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>
                            Java <br>
                             <span>Intermediate</span>
                        </p>
                    </div> 
                    <div class="skill">
                        <i class="ri-checkbox-circle-fill"></i>
                        <p>
                            Express JS <br>
                             <span>Intermediate</span>
                        </p>
                    </div>   
                                      
                </div>
            </div>
            <div class="libray">
                <div class="skill">
                    <i class="ri-checkbox-circle-fill"></i>
                    <p>
                        SQL <br>
                         <span>Basic</span>
                    </p>
                </div>    
            </div>
        </div>
    </div>
</div>