<link rel="stylesheet" href="/stylesheets/experience.css">

<div id="experience">
    <div class="headings">
        <p>The skills I have</p>
        <h3>My experience</h3>
    </div>
    <div class="Developments">
        <div class="Development">
                <h3>Frontend Development</h3>
                
        </div>
        <div class="Development">
               <h3>Backend Development</h3>
        </div>
    </div>
</div>