<link rel="stylesheet" href="/stylesheets/profile.css">
<div id="profile">
    <img src="/images/profile.jpg" alt="">
    <div class="info">
        <p>Hello, I'm</p>
        <h2>Golam Masud</h2>
        <h3>Fullstack Developer</h3>
        <div class="btn0">
            <a class="resume" target="_blank" href="https://drive.google.com/file/d/1mm6vcUSBtr58Dj7snH6TQUcI3AQu03h5/view?usp=sharing">Resume</a>
            <a class="Contact" href="#contact">Contact Info</a>
        </div>
        <div class="social-links">
            <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/golam-masud-409459239/"><i class="ri-linkedin-fill"></i></a>
            <a target="_blank" href="https://github.com/Sumonnn"><i class="ri-github-fill"></i></a>
        </div>
    </div>
</div>