<link rel="stylesheet" href="/stylesheets/project.css">

<div id="project">
    <div class="headings">
        <p>My Recent Work</p>
        <h2>Projects</h2>
    </div>
    <div class="projects">
        <div class="project">
            <div class="img"></div>
            <h2>Expense-Tracker</h2>
            <div class="btns">
                  <a target="_blank" href="https://github.com/Sumonnn/Expense-Tracker">Source Code</a>
                  <a target="_blank" href="https://expensetracker-1ugl.onrender.com/">Live Demo</a>
            </div>
        </div>
        <div class="project">
            <div class="img"></div>
            <h2>Book-System</h2>
            <div class="btns">
                  <a target="_blank" href="https://github.com/Sumonnn/Book-System-NodeJS">Source Code</a>
                  <a target="_blank" href="https://book-system.onrender.com">Live Demo</a>
            </div>
        </div>
        <div class="project">
            <div class="img">
                <img src="https://assets.awwwards.com/awards/submissions/2023/06/648f3ca058dcb997341109.jpg" alt="">
            </div>
            <h2>Hotel-Odisej</h2>
            <div class="btns">
                  <a target="_blank" href="https://github.com/Sumonnn/Hotel-Odisej">Source Code</a>
                  <a target="_blank" href="https://sumonnn.github.io/Hotel-Odisej/">Live Demo</a>
            </div>
        </div>
    </div>
</div>