<link rel="stylesheet" href="/stylesheets/project.css">

<div id="project">
    <div class="headings">
        <p>My Recent Work</p>
        <h2>Projects</h2>
    </div>
    <div class="projects">
        <div class="project">
            <div class="img"></div>
            <h2>project</h2>
            <div class="btns">
                  <a target="_blank" href="">Source Code</a>
                  <a target="_blank" href="">Live Demo</a>
            </div>
        </div>
        <div class="project">
            <div class="img"></div>
            <h2>project</h2>
            <div class="btns">
                  <a target="_blank" href="">Source Code</a>
                  <a target="_blank" href="">Live Demo</a>
            </div>
        </div>
        <div class="project">
            <div class="img"></div>
            <h2>project</h2>
            <div class="btns">
                  <a target="_blank" href="">Source Code</a>
                  <a target="_blank" href="">Live Demo</a>
            </div>
        </div>
    </div>
</div>