nav{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
nav>.nav-links{
    display: flex;
    gap: 1.5vw;
}
nav>.nav-links a{
    text-decoration: none;
    border-bottom: 2.5px solid transparent;
    padding-bottom: 0.3vw;
    font-size: 1.6vw;
    color: black;
    font-weight: 400;
}
nav>.nav-links a:hover{
    border-bottom: 2.5px solid black;
    opacity: 0.5;
}

@media all and (min-width: 260px) and (max-width: 767px) {
    nav{
        width: 100%;
        height: 11vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    nav>.nav-links{
        display: none;
    }
}