#profile{
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    /* background-color: red; */
}
#profile>img{
    width: 32%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}
.info>p{
    opacity: 0.8;
    font-size: 1.2vw;
}
.info>h2{
    color: black;
}
.info>h3{
    opacity: 0.8;
    font-size: 2.1vw;
}
.info>.btn0{
    display: flex;
    justify-content: center;
    gap: 1vw;

}
.info>.btn0 a{
    text-decoration: none;
    color: black;
    padding: 0.5vw 2vw;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 1.2vw;
}
.info>.btn0 .resume:hover{
   background-color: black;
   color: aliceblue;
}
.info>.btn0 .Contact:hover{
    background-color: black;
    color: whitesmoke;
 }
.info>.btn0 a:nth-last-child(1){
    background-color: #000000cf;
    color: aliceblue;
}
.info>.social-links{
    display: flex;
    justify-content: center;
    gap: 1vw;
}
.info>.social-links>a{
    text-decoration: none;
    color: black;
    font-size: 2.2vw;
}

@media all and (min-width: 260px) and (max-width: 767px) {
    #profile{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4vw;
        /* background-color: red; */
    }
    #profile>img{
        width: 70%;
        height: 42%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    .info{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5vw;
    }
    .info>p{
        opacity: 0.8;
        font-size: 5.8vw;
        line-height: 5vw;
        font-weight: 600;
    }
    .info>h2{
        color: black;
        font-size: 9vw;
    }
    .info>h3{
        opacity: 0.8;
        font-size: 5.8vw;
    }
    .info>.btn0{
        display: flex;
        justify-content: center;
        gap: 3vw;
    
    }
    .info>.btn0 a{
        text-decoration: none;
        color: black;
        padding: 1vw 5.2vw;
        border: 1px solid black;
        border-radius: 25px;
        font-size: 5vw;
    }
    .info>.btn0 .resume:hover{
       background-color: black;
       color: aliceblue;
    }
    .info>.btn0 .Contact:hover{
        background-color: black;
        color: whitesmoke;
     }
    .info>.btn0 a:nth-last-child(1){
        background-color: #000000cf;
        color: aliceblue;
    }
    .info>.social-links{
        margin-top: 2vw;
        display: flex;
        justify-content: center;
        gap: 6vw;
    }
    .info>.social-links>a{
        text-decoration: none;
        color: black;
        font-size: 9.5vw;
    }
}