#project {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vw;
    /* background-color: red; */
}

#project .headings {
    text-align: center;
}

#project .headings p {
    opacity: 0.7;
}

#project .headings h2 {
    font-size: 3vw
}

.projects {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: space-between;
    /* background-color: coral; */
}

.projects .project {
    width: 32%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border: 2px solid #0000009e;
}

.projects .project .img {
    width: 80%;
    height: 65%;
    border-radius: 15px;
    overflow: hidden;
    background-color: red;
}

.projects .project .img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.projects .project .btns>a {
    text-decoration: none;
    padding: 0.6vw 1.8vw;
    border: 2px solid #00000056;
    border-radius: 25px;
    font-weight: 700;
    color: black;
    transition: ease-out 0.2s;
}

.projects .project .btns>a:hover {
    background-color: black;
    color: aliceblue;
}